:root {
  --bg-color: #130D14;
  --lighter-bg-color: #2C1F30;
  --accent: #E8A4FF;
  --text-color: #DCC8E3;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.7;
  background-color: var(--bg-color);
  color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: var(--accent);
}

h2 {
  margin-bottom: 1em;
  font-size: clamp(1.6rem, 1.4667rem + 0.5926vw, 2rem);
}

h3 {
  font-size: clamp(1.4rem, 1.3333rem + 0.2963vw, 1.6rem);
  color: var(--lighter-bg-color);
}

p {
  margin: 0;
}

img {
  max-width: 100%;
}

header {
  background-color: var(--lighter-bg-color);
  padding: 1em;
}

button {
  background-color: var(--accent);
  padding: .8em 2em;
  border-radius: 1em;
  font-size: inherit;
  text-transform: capitalize;
}

.container-lg {
  width: 100%;
  max-width: 1900px;
  margin: 0 auto;
}

.container {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}

.container-sml {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.brand {
  font-size: 1.3em;
  color: var(--accent);
}

.navbar {
  position: sticky;
  top: 0;
  z-index: 99;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5em 1em;
}

.navMenu {
  display: flex;
  gap: 1.5em; 
}

.navLink {
  text-decoration: none;
  color: var(--text-color);
  text-transform: capitalize;
  border-bottom: solid 2px transparent;
}

.hero {
  padding: 4em 1em;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  gap: 2em;
  background: linear-gradient(to right, rgba(0,0,0, .3), rgba(0,0,0, .6)),
  url(/starter/images/hero-bg.jpg) no-repeat center fixed;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.heroHeader {
  margin-bottom: 1.5em;
}

.heroTitle {
  font-size: clamp(1.8rem, 1.5667rem + 1.0370vw, 2.5rem);
  font-weight: 900;
}

.heroParagraph {
  width: 100%;
  max-width: 600px;
  margin-bottom: 1.5em;
}

.heroImg {
  border-radius: 50%;
  padding: .5em;
  border: solid 3px var(--text-color);
}

.about-section {
  background-color: var(--lighter-bg-color);
  padding: 4em 1em;
  margin-bottom: 4em;
}

#work {
  padding: 0 1em;
  margin-bottom: 4em;
}

.work-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 18.75em);
  grid-template-areas: 
  "projectOne projectOne"
  "projectTwo projectThree"
  "projectFour projectFive"
  ;
  gap: 1em;
}

.work-grid-item {
  position: relative;
  border-radius: 1em;
  border: solid .3em var(--text-color);
  display: flex;
  align-items: flex-end;
}

.work-grid-item a {
  position: absolute;
  height: 100%;
  width: 100%;
}

.work-grid-item header {
  background-color: var(--text-color);
  color: var(--bg-color);
  margin-bottom: 3em;
  border-radius: 0 .5em .5em 0;
}

#projectOne {
  grid-area: projectOne;
  background-image: url(/starter/images/02-portfolio-1.jpg);
  background-position: center;
  background-size: cover;
}

#projectTwo {
  grid-area: projectTwo;
  background-image: url(/starter/images/02-portfolio-2.jpg);
  background-position: center;
  background-size: cover;
}

#projectThree {
  grid-area: projectThree;
  background-image: url(/starter/images/02-portfolio-3.jpg);
  background-position: center;
  background-size: cover;
}

#projectFour {
  grid-area: projectFour;
  background-image: url(/starter/images/02-portfolio-4.jpg);
  background-position: center;
  background-size: cover;
  
}

#projectFive {
  grid-area: projectFive;
  background-image: url(/starter/images/02-portfolio-1.jpg);
  background-position: center;
  background-size: cover;
  
}

#contact h2 {
  text-align: center;
}

#contact div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: .5em 2em;
  margin-bottom: 3em;
}

#contact a {
  text-decoration: none;
  color: var(--text-color);
}

@media screen and (max-width: 800px) {
  .hero {
    padding: 3em 1em;
  }

  .about-section {
    padding: 2em 1em;
  }
}

@media screen and (max-width: 650px) {
  .work-grid {
    grid-template-columns: 1fr;
  grid-template-rows: repeat(5, 18.75em);
  grid-template-areas: 
  "projectOne"
  "projectTwo"
  "projectThree"
  "projectFour"
  "projectFive"
  ;
  }
}

@media screen and (max-width: 500px) {
  .hero {
    padding: 2em 1em;
  }

  .navbar {
    flex-direction: column;
  }

  .about-section {
    margin-bottom: 2em;
  }

  #work {
    margin-bottom: 2em;
  }
}